In [8]:
import pandas as pd

## 마이크로소프트

### Ticker 주식의 티커명을 입력

In [5]:
import yfinance as yf

msft = yf.Ticker("MSFT")
print(msft)

yfinance.Ticker object <MSFT>

### info 주식의 정보 제공

In [6]:
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 181000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Software—Infrastructure',
 'ebitdaMargins': 0.48648998,
 'profitMargins': 0.38515,
 'grossMargins': 0.68864995,
 'operatingCashflow': 81945001984,
 'revenueGrowth': 0.22,
 'operatingMargins': 0.42143002,
 'ebitda': 85745000448,
 'targetLowPrice': 299.93,
 'recommendationKey': 'buy',
 'grossProfits': 115856000000,
 'freeCashflow': 49819750400,
 'targetMedianPrice': 364,
 'currentPrice': 323.01,
 'earningsGrowth': 0.489,
 'currentRatio': 2.165,
 'returnOnAssets': 0.14589,
 'numberOfAnalystOpinions': 39,
 'targetMeanPrice': 363.88,
 'debtToEquity': 51.938,
 'returnOnEquity': 0.49303,
 'targetHighPrice': 410,
 'totalCash': 130584002560,
 'totalDebt': 78934999040,
 'totalRevenue': 176250994688,
 'totalCashPerShare': 17.393,
 'financialCurrency': 'USD',
 'revenuePerShare': 23.395,
 'quickRatio': 1.961,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 13.467,
 'beta3Year': None,
 'enterpriseToEbitda': 27.681,
 '52WeekChange': 0.50734985,
 'morningStarRiskRating': None,
 'forwardEps': 10.53,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7507979776,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 20.242,
 'sharesShort': 41195079,
 'sharesPercentSharesOut': 0.0055,
 'fundFamily': None,
 'lastFiscalYearEnd': 1625011200,
 'heldPercentInstitutions': 0.71872,
 'netIncomeToCommon': 67882999808,
 'trailingEps': 8.939,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': 0.22927392,
 'priceToBook': 15.957416,
 'heldPercentInsiders': 0.00067000004,
 'nextFiscalYearEnd': 1688083200,
 'yield': None,
 'mostRecentQuarter': 1632960000,
 'shortRatio': 1.73,
 'sharesShortPreviousMonthDate': 1634256000,
 'floatShares': 7500998022,
 'beta': 0.862337,
 'enterpriseValue': 2373503680512,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1637107200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.476,
 'priceToSalesTrailing12Months': 13.759653,
 'dateShortInterest': 1636934400,
 'pegRatio': 2.12,
 'ytdReturn': None,
 'forwardPE': 30.675215,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0055,
 'sharesShortPriorMonth': 48556022,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 329.49,
 'regularMarketOpen': 331.99,
 'twoHundredDayAverage': 277.9139,
 'trailingAnnualDividendYield': 0.0069804853,
 'payoutRatio': 0.25059998,
 'volume24Hr': None,
 'regularMarketDayHigh': 332.7,
 'navPrice': None,
 'averageDailyVolume10Day': 30660920,
 'regularMarketPreviousClose': 329.49,
 'fiftyDayAverage': 317.0644,
 'trailingAnnualDividendRate': 2.3,
 'open': 331.99,
 'toCurrency': None,
 'averageVolume10days': 30660920,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1637107200,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 318.03,
 'currency': 'USD',
 'trailingPE': 36.134914,
 'regularMarketVolume': 40852342,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2425152602112,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 25159974,
 'dayLow': 318.03,
 'ask': 0,
 'askSize': 800,
 'volume': 40852342,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.42,
 'fiftyTwoWeekLow': 209.11,
 'bid': 322.66,
 'tradeable': False,
 'dividendYield': 0.0077,
 'bidSize': 800,
 'dayHigh': 332.7,
 'regularMarketPrice': 323.01,
 'preMarketPrice': 323.69,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

###  history 시장가(시가, 종가, 고가, 저가), 거래량 데이터 가져오기

history()메서드에 사용 가능한 매개변수는 다음 과 같습니다.

기간 : 다운로드할 데이터 기간(기간 매개변수 사용 또는 시작 및 종료 사용) 유효 기간: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max

간격 : 데이터 간격(일중 데이터는 지난 60일 동안 연장할 수 없음) 유효한 간격: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo

start : 마침표를 사용하지 않는 경우 - 시작 날짜 문자열(YYYY-MM-DD) 또는 날짜/시간을 다운로드합니다.

end : 마침표를 사용하지 않는 경우 - 종료 날짜 문자열(YYYY-MM-DD) 또는 날짜/시간을 다운로드합니다.

prepost : 결과에 프리장 및 애프터장 데이터를 포함합니까? (기본값은 False)

auto_adjust : 모든 OHLC를 자동으로 조정하시겠습니까? (기본값은 True)

action : 주식 배당 및 주식 분할 이벤트를 다운로드하시겠습니까? (기본값은 True)

In [18]:
msft.history(period = 'max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055898,0.064119,0.055898,0.061378,1031788800,0.0,0.0
1986-03-14,0.061378,0.064667,0.061378,0.063570,308160000,0.0,0.0
1986-03-17,0.063570,0.065215,0.063570,0.064667,133171200,0.0,0.0
1986-03-18,0.064667,0.065215,0.062474,0.063022,67766400,0.0,0.0
1986-03-19,0.063022,0.063570,0.061378,0.061926,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2021-11-29,334.940002,339.029999,334.739990,336.630005,28563500,0.0,0.0
2021-11-30,335.320007,337.779999,328.989990,330.589996,42885600,0.0,0.0
2021-12-01,335.130005,339.279999,329.390015,330.079987,33337600,0.0,0.0
2021-12-02,330.299988,333.489990,327.799988,329.489990,30766000,0.0,0.0
2021-12-03,331.989990,332.700012,318.029999,323.010010,41755900,0.0,0.0

### 배당금, 액면분할 정보 가져오기

In [19]:
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2020-11-18       0.56           0.0
2021-02-17       0.56           0.0
2021-05-19       0.56           0.0
2021-08-18       0.56           0.0
2021-11-17       0.62           0.0

[81 rows x 2 columns]

In [23]:
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2020-11-18    0.56
2021-02-17    0.56
2021-05-19    0.56
2021-08-18    0.56
2021-11-17    0.62
Name: Dividends, Length: 72, dtype: float64

In [24]:
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

### 배당금이 가장 높았던 시점 찾기

In [22]:
msft.actions['Dividends'].sort_values(ascending = False)

Date
2004-11-15    3.08
2021-11-17    0.62
2021-08-18    0.56
2021-05-19    0.56
2021-02-17    0.56
              ...
1990-04-16    0.00
1998-02-23    0.00
1999-03-29    0.00
2003-02-18    0.00
1987-09-21    0.00
Name: Dividends, Length: 81, dtype: float64

## SPY 데이터 불러오기

In [32]:
SPY = yf.download("SPY", start = "2021-07-06", end = "2021-12-06",
                  group_by = "ticker")

[*********************100%***********************]  1 of 1 completed

In [33]:
SPY

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-06,433.779999,434.010010,430.010010,432.929993,431.547455,68710400
2021-07-07,433.660004,434.760010,431.510010,434.459991,433.072571,63549500
2021-07-08,428.779999,431.730011,427.519989,430.920013,429.543884,97595200
2021-07-09,432.529999,435.839996,430.709991,435.519989,434.129181,76238600
2021-07-12,435.429993,437.350006,434.970001,437.079987,435.684204,52889600
...,...,...,...,...,...,...
2021-11-29,464.070007,466.559998,461.730011,464.600006,464.600006,86268800
2021-11-30,462.000000,464.029999,455.299988,455.559998,455.559998,148559600
2021-12-01,461.640015,464.670013,450.290009,450.500000,450.500000,131939200
2021-12-02,450.730011,459.070007,450.309998,457.399994,457.399994,127637800
2021-12-03,459.170013,460.299988,448.920013,453.420013,453.420013,137167700

### pandas_datareader 사용

In [36]:
from pandas_datareader import data as pdr

import yfinance as yf

yf.pdr_override()

AAPL= pdr.get_data_yahoo("AAPL", start = "2021-07-06", end = "2021-12-06")

[*********************100%***********************]  1 of 1 completed

In [37]:
AAPL

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-06,140.070007,143.149994,140.070007,142.020004,141.600876,108181800
2021-07-07,143.539993,144.889999,142.660004,144.570007,144.143356,104911600
2021-07-08,141.580002,144.059998,140.669998,143.240005,142.817276,105575500
2021-07-09,142.750000,145.649994,142.649994,145.110001,144.681763,99890800
2021-07-12,146.210007,146.320007,144.000000,144.500000,144.073563,76299700
...,...,...,...,...,...,...
2021-11-29,159.369995,161.190002,158.789993,160.240005,160.240005,88748200
2021-11-30,159.990005,165.520004,159.919998,165.300003,165.300003,174048100
2021-12-01,167.479996,170.300003,164.529999,164.770004,164.770004,152052500
2021-12-02,158.740005,164.199997,157.800003,163.759995,163.759995,136739200
2021-12-03,164.020004,164.960007,159.720001,161.839996,161.839996,117938300